<tr id="<%= dom_id session %>">
  <td><%= truncate session.user_agent %></td>
  <td><%= session.ip_address %></td>
  <td><%= session.created_at %></td>
  <td>
    <%= button_to "Delete", session, method: :delete %>
  </td>
</tr>
