<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <% if signed_in? -%>
      <p>Hello <%= current_user.email %> </p>
      <%= button_to "Sign out", current_session, method: :delete %>
    <% end -%>
    <%= render "flashes" %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
